<h1> Reviews for <%= link_to @movie.title, movie_path(@movie) %></h1>

<ul class="reviews">
  <% @reviews.each do |r| %>
    <li>
      <%= render "shared/stars", percent: r.stars_as_percent %>
      <p>
        <%= link_to r.user.name, r.user %>:
        <span class="date">
          <%= time_ago_in_words(r.created_at) %> ago
        </span>
      </p>
      <p>
        <%= r.comment %>
      </p>       
      <p>
        <ul>
            <%= link_to 'Edit', edit_movie_review_path(r.movie, r), class: "buton"%>
            <%= link_to 'Delete', movie_review_path(r.movie, r), class: "buton", method: :Delete, data: {confirm: "Are you sure?"} %>
        </ul>
      </p>
    </li>
    
  <% end %>
  <section class="movie-details">
    <div class="details">
    <%= link_to 'Write Review', new_movie_review_path(@movie), class: "review" %>
    </div>
  </section>
</ul>
