<h1> Reviews for <%= link_to @movie.title, movie_path(@movie) %></h1>

<ul class="reviews">
  <% @reviews.each do |r| %>
    <li>
      <%= pluralize(r.stars, "star") %>
      <p>
        <%= r.name %>:
        <span class="date">
          <%= time_ago_in_words(r.created_at) %> ago
        </span>
      </p>
      <p>
        <%= r.comment %>
      </p>       
    </li>
  <% end %>
</ul>
