<header>
  <nav>
      <%= link_to (image_tag"logo"), root_path %>
      <%# link_to image_tag("logo"), root_path %>

    <ul class="left">
      <li>
        <%= link_to "Released", movies_path %>
      </li>
      <li>
        <%= link_to "Recent", filtered_movies_path(:recent) %>
      </li>
      <li>
        <%= link_to "Upcoming", filtered_movies_path(:upcoming) %>
      </li>
      <li>
        <%= link_to "Hits", filtered_movies_path(:hits) %>
      </li>
      <li>
        <%= link_to "Flops", filtered_movies_path(:flops) %>
      </li>
      <li>
        <%= link_to "GENRES", genres_path %>
      </li>
      <% if current_user_admin? %>
        <li>
          <%= link_to "All Users", users_path %>
        </li>
      <% end %>
    </ul>
    <ul class="rignt">
      <% if current_user %>
        <li>
          <%= link_to name_or_username(current_user), current_user %>
        </li>
        <li>
          <%= link_to 'Account Settings', edit_user_path(current_user) %>
        </li>
        <li>
          <%= link_to 'Sign Out', session_path, method: :delete, class: "button" %>
        </li>
      <% else %>
        <li>
          <%= link_to 'Sign In', signin_path, class: "button" %>
        </li>
        <li>
          <%= link_to 'Sign Up', signup_path, class: "button" %>
        </li>
      <% end %>
    </ul>     
  </nav>      
</header>